extends layout

block content
  h1 Bienvenido a Express
  // Projects
  section#projects.projects-section.bg-light
    .container
      #main_map
  // Bootstrap core JS
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  // Third party plugin JS
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
  // Core theme JS
  //script(src='/javascripts/scripts.js')
  script(src='/javascripts/map.js')

